@define-color dimmed_color alpha(currentColor, .55);

.large-button {
  padding: 12px;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.drag-overlay {
  box-shadow: none;
}
